alembic
bcrypt
blinker
click
colorama
dnspython
email_validator
Flask
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-Register
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
SQLAlchemy
typing_extensions
Werkzeug
WTForms
gunicorn