{% extends "base.html" %}
{% block content %}
<div class="row mt-5 justify-content-center">
    <div class="col-auto">
        <div class="card mt-5" style="width: 18rem;">
            <img src="{{ product['img'] }}" class="card-img-top" alt="{{ product['name'] }}">
            <div class="card-body">
                <h5 class="card-title">{{ product['name'] }}</h5>
                <p class="card-text">{{ product['description'] }}</p>
                <p class="card-text">${{ product['price'] }}</p>
                <form method="post">
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
